__pycache__/board.cpython-39.pyc
__pycache__/board.cpython-39.pyc
__pycache__/pawn.cpython-39.pyc
__pycache__/board.cpython-39.pyc
__pycache__/color.cpython-39.pyc
.idea/workspace.xml
__pycache__/board.cpython-39.pyc
__pycache__/color.cpython-39.pyc
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/board.cpython-39.pyc
__pycache__/color.cpython-39.pyc
__pycache__/constants.cpython-39.pyc
__pycache__/screen.cpython-39.pyc
__pycache__/board.cpython-39.pyc
__pycache__/color.cpython-39.pyc
__pycache__/constants.cpython-39.pyc
__pycache__/rook.cpython-39.pyc
